.list {list-style: none;}
.link {text-decoration: none;
color: inherit;
font-style: normal;
}

:root {
    --logo-color: #000000;
    --light-blue-color-theme: #2196F3;
    --white-color-theme: #ffffff;
    --text-color: #212121;
    --dark-blue-color: #0000ff;
    --main-section-hero-background-color: #2F303A;
    --light-blue-color-theme-in-focus:#188CE8;
    --light-gray-color-theme:#f4faf7;
    --paragraph-desc-color: #757575;
    --footer-mail-tel-color: rgba(255, 255, 255, 0.6);
    }

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    }

footer {
    background: var(--main-section-hero-background-color);
    }


.logo-link {
    color: var(--light-blue-color-theme);
    Font-family: Raleway, sans-serif;
    Font-size: 26px;
    Line-height: 1.2;
}

.logo-black {
    color: var(--logo-color);
}


.logo-white {
    color: var(--light-blue-color-theme);
}

.header-nav-list {
    color: var(--logo-color);
}

.header-link:hover,
.header-link:focus,
.current {
    color: var(--light-blue-color-theme);
}

.logo-list {
    color: var(--logo-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-list {
    color: var(--light-blue-color-theme);
}
    
.logo-black {
    color: var(--logo-color);
}

.logo-white { 
    color: var(--white-color-theme);
}

   
.header-nav-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-nav-color {
    color: var(--text-color);
}


.hero {
    background: var(--main-section-hero-background-color);
   
}
.hero-title {
    color: var(--white-color-theme);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    Letter-spacing: 0.06em;
    text-transform: uppercase;
    
}
.buttons-order {
    font-family:inherit;
    background: var(--light-blue-color-theme);
    color: var(--light-gray-color-theme);
    cursor: pointer;   
    Font-size: 16px;
    Line-height: 1.88;
    Letter-spacing: 0.06em;
}

.buttons-order:hover,
.buttons-order:focus {
    background: var(--light-blue-color-theme-in-focus);
}

.buttons-list-item {
    font-family:inherit;
    background: var(--light-gray-color-theme);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.buttons-list-item:hover,
.buttons-list-item:focus
 {
    background: var(--light-blue-color-theme);
    color: var(--white-color-theme);
}

.about-item-title {
    
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-color);
    text-transform: uppercase;
}

.about-item-desc {
    font-size: 14px;
    line-height: 1.7;
    color:var(--paragraph-desc-color);
}

.section-title {
    font-size: 36px;
    line-height: 1.17;
    color: var(--text-color);
}

.team {
    background: var(--light-gray-color-theme);
}


.team-item {
    background: #FFFFFF;
}

.team-item-title,
.team-item-position {
    
    font-size: 16px;
    line-height: 1.19;

}

.team-item-title {
    font-weight: 500;
    color: var(--text-color);
}

.project-item-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--text-color);
}

.project-item-description {
    font-size: 16px;
    line-height: 1.8;
}

.adress-link {
    font-style: normal;
}


.address-link{
    color: var(--footer-mail-tel-color);
}


.address-link [target="_blank"] {
    color: var(--white-color-theme);
}

.address-link:hover,
.address-link:focus {
    color: var(--light-blue-color-theme);
}